.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-map-1 {
  width: 570px;
  height: 228px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-map-1 {
    width: 340px;
  }
}